/gugelnet.h5
/matang.jpg
/mentah2.jpg
/streamlit_upload_gambar.zip
/test_data
/test_data.zip
/train_data
/train_data.zip
/Tugas_Modul6_B_YOSUA_11893.txt
/Tugas_Modul6_GoogleNet_B_YOSUA_11893.ipynb
/Tugas_Modul6_MobileNet_B_YOSUA_11893.ipynb